{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}


<main>
    {{#with navigation}}
    <div class="row">
        <div class="card">
            <div class="nav">
                {{#each links}}
                <div class="nav-item py-2">
                    <a href="{{href}}" class="nav-link 
                    {{#if @last includeZero=" true"}}disabled{{/if}}">{{text}}</a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{/with}}
    <br>
    <br>
    <div class="row">
        <ol class="breadcrumb">
            {{#each breadcrumb}}
            <li class="breadcrumb-item">
                <a href="{{url}}{{#if url}}null{{/if}}">{{name}}</a>
            </li>{{/each}}
        </ol>
    </div>
    <br>
    <br>
    <h1>{{header}}</h1>
    <br>
    <div class="row">
        {{#each sortBlock}}
        <div class="col-3">
            <select class="form-select">
                <option selected>{{placeholder}}</option>
                {{#each options}}
                <option value="{{this}}">{{text}}</option>
                {{/each}}
            </select>
        </div>
        {{/each}}
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-4">
            {{#with filterBlock}}
            <div class="card">
                <div class="card-body">
                    {{#with sellers}}
                    <div class="form-label">{{title}}</div>
                    {{#each list}}
                    <div class="form-check">
                        <label class="form-check-label">{{value}}</label>
                        <input type="checkbox" class="form-check-input">
                    </div>
                    {{/each}}
                    {{/with}}
                    <hr>
                    {{#with brands}}
                    <div class="form-label">{{title}}</div>
                    <input class="form-control">{{placeholder}}
                    {{#each options}}
                    <div class="form-check">
                        <label class="form-check-label">{{value}}</label>
                        <input type="checkbox" class="form-check-input">
                    </div>
                    {{/each}}
                    {{/with}}
                    <hr>
                    {{#with price}}
                    <div class="form-label">{{title}}</div>
                    {{#with range}}
                    <input class="form-control">{{from}}
                    <input class="form-control">{{to}}
                    {{/with}}
                    {{#with button}}
                    <div>
                        <a href="{{link}}" class="btn btn-outline-secondary">{{text}}</a>
                    </div>
                    {{/with}}
                    {{/with}}
                    <hr>
                    {{#each filterList}}
                    <div class="form-label">{{title}}</div>

                    {{#each options}}
                    <div class="form-check">
                        <label class="form-check-label">{{value}}</label>
                        <input type="checkbox" class="form-check-input">
                    </div>
                    {{/each}}
                    <hr>
                    {{/each}}
                </div>
            </div>
            {{/with}}
        </div>

        <div class="col-8">
            <div class="row">

                {{#each goodsList}}
                <div class="col-6">
                    {{> catalogItem goodsList=goodsList}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{#with service}}
    <div class="card text-bg-success mt-4">
        <div class="card-body text-center">
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            {{#each buttons}}
            <a href="{{link}}" class="btn btn-primary">{{text}}</a>
            {{/each}}
        </div>
    </div>
    {{/with}}
    <hr class="my-5">
    <div class="row">
        {{#each footer}}
        <div class="col-2">
            {{#each this}}
            <div class="nav flex-column">
                <div class="nav-item">
                    <a href={{link}} class="nav-link {{#if @last}}disabled{{/if}}">{{text}}</a>
                </div>
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
</main>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}