{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
<main>
    {{#with navigation}}
    <div class="row">
        <div class="card">
            <div class="nav">
                {{#each links}}
                <div class="nav-item py-2">
                    <a href={{href}} class="nav-link">{{text}}</a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{/with}}
    {{#with newsBlock}}
    <h2 class="text-center pt-5">{{title}}</h2>
    <div class="row">
        {{#each cards}}
        <div class="col-3 pb-5">
            <div class="card text-bg-secondary">
                <div class="card-header">{{title}}
                    {{#if isTop}}
                    <span class="badge text-bg-danger rounded-pill">Top</span>
                    {{/if}}
                    {{#if isNew}}
                    <span class="badge text-bg-primary rounded-pill">New</span>
                    {{/if}}
                </div>
                <div class=" card-body">
                    <p>{{description}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/with}}
    <hr class="py-3">
    {{#with goodsBlock}}
    <div class="col-12 pb-5">
        <div class="nav nav-tabs">
            {{#each tabs}}
            <div class="nav-item">
                <a class="nav-link 
                {{#if isActive}}active{{/if}} 
                {{#if isDisabled}}disabled{{/if}}" aria-current="true" href="#">{{text}}</a>
            </div>
            {{/each}}
        </div>
    </div>

    <hr class="py-4">

    <div class="row gy-4 pb-5">
        {{#each cards}}
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="https://picsum.photos/400/200">
                <div class="card-body">
                    <h5 class="card-title">{{title}}
                        {{#if isHot}}
                        <span class="badge text-bg-warning rounded-pill">Hot</span>
                        {{/if}}
                        {{#if isNew}}
                        <span class="badge text-bg-primary rounded-pill">New</span>
                        {{/if}}
                    </h5>
                    <p>{{description}}</p>
                </div>

            </div>
        </div>
        {{/each}}
    </div>
    {{/with}}
    <hr class="pt-4">
    <div class="row gy-4">
        {{#with subscribe}}
        <div class="col-12">
            <div class="card text-bg-dark p-2">
                <h2>{{header}}</h2>
                <p>{{description}}</p>
                {{#each buttons}}
                <div class="pb-3">
                    <button class="btn btn-primary" href={{link}}>{{text}}</button>
                </div>
                {{/each}}
            </div>
        </div>
        {{/with}}
    </div>
    <hr class="pt-4">
    <div class="row gy-4 pb-4">
        {{#with service}}
        <div class="col-12">
            <div class="card text-bg-success text-center py-2">
                <h2>{{title}}</h2>
                <p>{{description}}</p>
                <div>
                    <button class="btn btn-primary" href="https://www.youtube.com/">Show More</button>
                </div>
            </div>
        </div>
        {{/with}}
    </div>
    <hr class="pt-4">
    <div class="row">
        {{#each footer}}
        <div class="col-2">
            {{#each this}}
            <div class="nav flex-column">
                <div class="nav-item">
                    <a href={{link}} class="nav-link">{{text}}</a>
                </div>
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
</main>
{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}