{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    <div class="row">
        {{#with navigation}}
        {{#each links}}
        <div class="col-2">
            <button type="button" class="btn btn-link">
                <a href={{this.href}}>{{text}}</a>
            </button>
        </div>
        {{/each}}
        {{#with button}}
        <div class="col-2">
            <a href="https://nodejs.org/en/" class="btn btn-primary">{{text}}</a>
        </div>
        {{/with}}
        <br>
        {{/with}}
    </div>
    <br>
    <hr>
    <br>
    {{#with header}}
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    {{#with button}}
    <a href="https://www.youtube.com/" class="btn btn-primary">{{text}}</a>
    {{/with}}
    <br>
    {{/with}}
    <br>
    <hr>
    <br>
    {{#with city}}
    <h2>{{title}}</h2>
    <br>
    <div class="row gy-4">
        {{#each cards}}
        <div class="col-5">
            <div class="card">
                {{#with picture}}
                <img class="card-img-top" src={{this.src}}>{{alt}}
                {{/with}}
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p>{{description}}</p>
                    {{#with button}}
                    <a href="https://github.com/" class="btn btn-primary">{{text}}</a>
                    {{/with}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/with}}
    <br>
    <hr>
    <br>
    {{#with winner}}
    <h2>{{title}}</h2>
    <br>
    {{#with table}}
    <table class="table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    name
                </th>
                <th>
                    surname
                </th>
                <th>
                    nickname
                </th>
            </tr>
        </thead>
        {{#each user}}
        <tbody>
            <tr>
                <th>{{place}}</th>
                <td>{{name}}</td>
                <td>{{surname}}</td>
                <td>{{nickname}}</td>
            </tr>
        </tbody>
        {{/each}}
    </table>
    {{/with}}
    {{/with}}
    <br>
    <hr>
    <br>
    {{#with gallery}}
    <h2>{{title}}</h2>
    <br>
    <div class="row">
        {{#each cards}}
        <div class="col-4">
            <div class="card">
                <div class="card-header">{{name}}</div>
                {{#each items}}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{this}}</li>
                </ul>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
    {{/with}}
    <br>
    <hr>
    <br>
    {{#with relaxion}}
    <div class="display-3">{{title}}</div>
    <br>
    <div class="row gy-4">
        {{#each cards}}
        <div class="col-5">
            <div class="card text-bg-secondary">
                <div class="card-header">{{header}}</div>
                <div class="card-body">
                    <div class="card-title"><b>{{title}}</b></div>
                    <p>{{description}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/with}}
    <br>
    <hr>
    <br>
    {{#with rest}}
    <div class="row">
        {{#each cards}}
        <div class="col-6">
            <div class="card">
                <div class="card-header text-center">{{header}}</div>

                <div class="card-body text-center">
                    <div class="card-title"><b>{{title}}</b></div>
                    <p>{{description}}</p>
                    <button type="button" class="btn btn-primary">{{button}}</button>
                </div>
                <div class="card-header text-center">{{footer}}</div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/with}}
    <br>
    <hr>
    <br>
    {{#with proposition}}
    <div class="display-2">{{title}}</div>
    <br>
    <div class="row">
        {{#each card}}
        <div class="col-5">
            <div class="card text-bg-warning">
                <div class="card-header">{{header}}</div>
                <div class="card-body">
                    <div class="card-title"><b>{{title}}</b></div>
                    <p>{{description}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/with}}
    <br>
    <hr>
    <br>
    {{#with footer}}
    <h5>{{title}}</h5>
    <br>
    <div class="row">
        {{#with navigation}}
        <div class="col-3">
            <a href="https://github.com/" class="btn btn-link">Home</a>
        </div>
        <div class="col-3">
            <a href="https://www.google.com/" class="btn btn-outline-dark">Contacts</a>
        </div>
        <div class="col-3">
            <a href="https://www.youtube.com/" class="btn btn-outline-info">Help</a>
        </div>
        {{/with}}
    </div>
    <br>
    <div class="row">
        {{#with socialMedia}}
        <div class="col-3">
            <a href="https://www.facebook.com/" class="btn btn-link">Facebook</a>
        </div>
        <div class="col-3">
            <a href="https://twitter.com/" class="btn btn-outline-dark">Twitter</a>
        </div>
        <div class="col-3">
            <a href="https://www.instagram.com/" class="btn btn-outline-info">Instagram</a>
        </div>
        {{/with}}
    </div>
    <br>
    <div class="row">
        {{#with partners}}
        <div class="col-3">
            <a href="https://www.acme.com/" class="btn btn-link">Acme Inc.</a>
        </div>
        <div class="col-3">
            <a href="https://www.globex.com/" class="btn btn-outline-dark">Globex Corporation</a>
        </div>
        <div class="col-3">
            <a href="https://www.starkindustries.com/" class="btn btn-outline-info">Stark Industries</a>
        </div>
        {{/with}}
    </div>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}