<div class="row">
    <div class="col-4 my-4">
        <p>{{number}}</p>
        <h5>{{status}}</h5>
    </div>
    <div class="col-2 my-4">
        {{#with amount}}
        <p>{{title}}</p>
        <h5>{{value}}</h5>
        {{/with}}
    </div>
    <div class="col-4">
        {{#each images}}
        <img class="card-img-sm px-1" src={{this}}>
        {{/each}}
    </div>
    <div class="col-2 my-3">
        {{#with button}}
        <div class="pt-4">{{#if isPrimary}}<a href={{link}} class="btn btn-primary">{{text}}</a>{{/if}}
        </div>
        {{/with}}
    </div>
    <hr>
</div>