<div class="row">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="card">
                    {{#with title}}
                    <div class="card-header">
                        <h4>{{userName}}</h4>
                        <h6>{{caption}}</h6>
                        <p>{{date}}</p>
                    </div>
                    {{/with}}
                    {{#with reviewBody}}
                    <div class="card-body">
                        {{#with seller}}
                        <p>{{title}} : {{value}}</p>
                        {{/with}}
                        {{#with rating}}
                        <p>{{title}} : {{value}}</p>
                        {{/with}}
                        {{#with text}}
                        <p>{{this}}</p>
                        {{/with}}
                        {{#with advantages}}
                        <b>{{title}} :</b>
                        <p>{{text}}</p>
                        {{/with}}
                        {{#with disadvantages}}
                        <b>{{title}} :</b>
                        <p>{{text}}</p>
                        {{/with}}
                        {{#each images}}
                        <img class="card-img-sm" src="{{this}}">
                        {{/each}}
                    </div>
                </div>
                {{#each coments}}
                <div class="row">
                    <div class="col-12 ms-5 my-3">
                        <div class="card me-3">
                            <div class="card-body">
                                <h4>{{userName}}</h4>
                                <p>{{date}}</p>
                                <p>{{text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{/with}}
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>